<!DOCTYPE html>
<html >
<body  align="center" style="background-color:green;">
<head>
  <meta charset="UTF-8">
  <title>Model Deployment</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 28px;
      }
    </style>


</head>

<body>
 <div class="login">
	<h1 style="text-align:center">Telecom Churn</h1>

    <form align="center" action="{{ url_for('telecom_churn_prediction')}}"method="post">
    	<input type="text" style="text-align:center" name="arpu_7" placeholder="Average revenue" required="required" />
        <br>
        <input type="text" style="text-align:center" name="onnet_mou_8" placeholder="Calls with same operator" required="required" />
        <br>
        <input type="text" style="text-align:center" name="total_og_mou_8" placeholder="Total outgoing calls 8" required="required" />
        <br>

		<input type="text" style="text-align:center" name="total_ic_mou_7" placeholder="Total incomming calls 7" required="required" />  
        <br>
        <input type="text" style="text-align:center" name="total_ic_mou_8" placeholder="Total incomming calls 8" required="required" />
        <br>
        <input type="text" style="text-align:center" name="total_rech_num_8" placeholder="Total recharge number 8" required="required" />
        <br>
        <input type="text" style="text-align:center" name="last_day_rch_amt_8" placeholder="Last day recharge amount 8" required="required" />
        <br>
        <input type="text" style="text-align:center" name="av_rech_amt_data_8" placeholder="Average recharge amount 8" required="required" />
        <br>
        <input type="text" style="text-align:center" name="monthly_2g_8" placeholder="Monthly 2G recharge 8" required="required" />
        <br>
        <input type="text" style="text-align:center" name="monthly_3g_7" placeholder="Monthly 3g recharge 7" required="required" />
        <br>
        <input type="text" style="text-align:center" name="monthly_3g_8" placeholder="Monthly 3g recharge 8" required="required" />
        <br>
        <input type="text" style="text-align:center" name="sachet_3g_8" placeholder="Scahet for 3G 8" required="required" />
        <br>
        <input type="text" style="text-align:center" name="total_rech_data_amt_8" placeholder="Total recharge amount 8" required="required" />
        <br>
        


        <button align="center" type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
     {{ prediction_text }}

 </div>


</body>
</html>